.content-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and ( min-width : 992px ) {

  .content-row {
    flex-direction: row;
    height: 16.7vw;
    margin-bottom: 4.2vw;
  }
}
