.small-card {
  background: white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 45vw;
  margin-bottom: 4.2vw;
  width: 100vw;
}

.right-row .small-card {
  flex-direction: row-reverse;
}

.small-card .small-card-img {
  height: 45vw;
  width: 45vw;
}

.small-card .content {
  display: flex;
  flex-direction: row;
}

.small-card .content-inner {
  display: flex;
  flex-direction: column;
  margin: 2vw;
}

.small-card .content-inner h2 {
  color: #2d2d2d;
  height: calc(18px + 1.5vw);
  margin-bottom: 0.4vw;
  overflow: hidden;
}

.small-card .content-inner h1 {
  color: #f1a10a;
  height: calc(36px + 3vw);
  margin-bottom: 0.7vw;
  overflow: hidden;
}

.small-card .content-inner p {
  color: #2d2d2d;
  height: calc(54px + 4.5vw);
  overflow: hidden;
}

@media only screen and ( min-width : 992px ) {

  .small-card {
    height: 16.666vw;
    width: 50vw;
  }

  .small-card .content-inner {
    margin: 2vw 4vw;
  }

  .small-card .small-card-img {
    height: 16.666vw;
    width: 16.666vw;
  }

  .small-card .content-inner h2 {
    height: 1.8vw;
  }

  .small-card .content-inner h1 {
    height: 4.4vw;
  }

  .small-card .content-inner p {
    height: 5vw;
  }
}
